@page
@model GymTracker.Pages.SessionListModel
@{
    ViewData["Title"] = "SessionList";
}

<h2>List of Gym Sessions</h2>

<table class="table">
    <tr>
        <th>Session Name</th>
        <th>Date</th>
    </tr>
    @foreach(var session in Model.Sessions)
    {
        <tr>
            <td>@session.Name</td>
            <td>@session.Date.ToString("dd/MM/yyyy")</td>
            <td>
                <a class="btn btn-default"
                   asp-page="./SessionDetail"
                   asp-route-SessionId="@session.SessionId">
                    <i class="fa fa-info-circle"></i>
                </a>
                <a class="btn btn-default"
                   asp-page="./Edit"
                   asp-route-SessionId="@session.SessionId">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
        </tr>
    }
</table>