@page
@model GymTracker.Pages.SessionListModel
@{
    ViewData["Title"] = "SessionList";
}

<h1>List of Gym Sessions</h1>

<table class="table">
    <tr>
        <th>Session Name</th>
        <th>Date</th>
    </tr>
    @foreach(var session in Model.Sessions)
    {
        <tr>
            <td>@session.Name</td>
            <td>@session.Date.ToString("dd/MM/yyyy")</td>
        </tr>
    }
</table>