@page
@model GymTracker.Pages.SessionListModel
@{
    ViewData["Title"] = "SessionList";
}

<h1>List of Gym Sessions</h1>

<table>
    <tr>
        <th>Session Name</th>
        <th>Date</th>
    </tr>
</table>